@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-regular.woff2") format("woff2"), url("./LM-regular.woff") format("woff"), url("./LM-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-italic.woff2") format("woff2"), url("./LM-italic.woff") format("woff"), url("./LM-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold.woff2") format("woff2"), url("./LM-bold.woff") format("woff"), url("./LM-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold-italic.woff2") format("woff2"), url("./LM-bold-italic.woff") format("woff"), url("./LM-bold-italic.ttf") format("truetype");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: color 0.2s ease;
}

html {
  font-family: "Latin Modern", Garamond;
}
html body {
  color: black;
  background: #f7f7f7;
}
html body main {
  min-height: 75vh;
}
html body header {
  width: 100%;
  background: white;
  margin: 0;
  padding: 0.5rem;
}
html body header .wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
html body header .wrapper .logo {
  color: black;
  font-size: 0;
}
html body header .wrapper .logo img {
  height: 100%;
  max-width: 160px;
}
html body header .wrapper nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
html body header .wrapper nav a:hover {
  color: #1976d2;
}
html body .hero {
  width: 100%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  height: 60vh;
}
html body .hero .wrapper {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
html body .hero .wrapper h1 {
  font-family: Helvetica;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.1rem;
  margin-bottom: 1rem;
  max-width: 42rem;
  color: white;
}
html body .hero .wrapper p {
  color: white;
  font-size: 1.1rem;
  font-style: italic;
  max-width: 35rem;
  margin-bottom: 2rem;
}
html body .hero .wrapper .button-group {
  margin-top: 1rem;
  display: flex;
}
html body .hero .wrapper .button-group .button {
  background: #1976d2;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  margin-right: 1rem;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  border-radius: 3px;
}
html body .hero .wrapper .button-group .button:nth-child(2) {
  background: white;
  color: black;
}
html body .bar {
  background: white;
}
html body .bar .wrapper p {
  color: #bbb;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
html body .bar .wrapper .brands {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body .bar .wrapper .brands img {
  max-width: 7rem;
  max-height: 2rem;
  filter: opacity(0.25);
}
html body .guides .item {
  background: #f7f7f7;
  padding: 10rem 0;
}
html body .guides .item .wrapper div {
  grid-column: 1;
}
html body .guides .item .wrapper div h1 {
  font-family: Helvetica;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.1rem;
  margin-bottom: 1rem;
  color: black;
}
html body .guides .item .wrapper div p {
  color: black;
  font-size: 1.1rem;
}
html body .guides .item .wrapper div .read-more {
  display: inline-block;
  margin: 1rem 0;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
html body footer {
  background: #0f0f0f;
  padding: 2rem 0;
}
html body footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}
html body footer .wrapper .column h2 {
  color: white;
  font-family: Helvetica;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
html body footer .wrapper .column a {
  display: block;
  width: max-content;
  margin-bottom: 1rem;
  color: #aaa;
  font-family: Helvetica;
  font-size: 0.8rem;
}

.wrapper {
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}