@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-regular.woff2") format("woff2"), url("./LM-regular.woff") format("woff"), url("./LM-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-italic.woff2") format("woff2"), url("./LM-italic.woff") format("woff"), url("./LM-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold.woff2") format("woff2"), url("./LM-bold.woff") format("woff"), url("./LM-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold-italic.woff2") format("woff2"), url("./LM-bold-italic.woff") format("woff"), url("./LM-bold-italic.ttf") format("truetype");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: color 0.2s ease;
}

html {
  font-family: "Latin Modern", Garamond;
}
html body {
  color: black;
  background: #f7f7f7;
}
html body .home header {
  width: 100%;
  background: white;
  margin: 0;
  padding: 0.5rem;
}
html body .home header .wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
html body .home header .wrapper .logo {
  color: black;
  font-size: 0;
}
html body .home header .wrapper .logo img {
  height: 100%;
  max-width: 160px;
}
html body .home header .wrapper nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica;
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
html body .home header .wrapper nav a:hover {
  color: #1976d2;
}
html body .hero {
  width: 100%;
  background: url(/static/skull.jpg);
  background-size: contain;
  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
}
html body .hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: #eeeeee;
  opacity: 0.7;
}
html body .hero .wrapper {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
html body .hero .wrapper h1 {
  font-family: Helvetica;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.1rem;
  margin-bottom: 1rem;
  max-width: 40rem;
  color: black;
}
html body .hero .wrapper p {
  color: black;
  font-size: 1.1rem;
  font-style: italic;
  max-width: 35rem;
  margin-bottom: 2rem;
}
html body .hero .wrapper .button-group {
  margin-top: 1rem;
  display: flex;
}
html body .hero .wrapper .button-group .button {
  background: #1976d2;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  margin-right: 1rem;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  border-radius: 3px;
}
html body .hero .wrapper .button-group .button:nth-child(2) {
  background: white;
  color: black;
}
html body .bar {
  background: white;
}
html body .bar .wrapper p {
  color: #bbb;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
html body .bar .wrapper .brands {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body .bar .wrapper .brands img {
  max-width: 7rem;
  max-height: 2rem;
  filter: opacity(0.25);
}
html body .quantum-neuron-selection {
  background: #eeeeee;
  padding: 10rem 0;
  background-image: url(/static/brain.svg);
  background-size: 45vw;
  background-repeat: no-repeat;
  background-position: center left;
}
html body .quantum-neuron-selection .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}
html body .quantum-neuron-selection .wrapper div {
  grid-column: 2;
}
html body .quantum-neuron-selection .wrapper div h1 {
  font-family: Helvetica;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.1rem;
  margin-bottom: 1rem;
  color: black;
}
html body .quantum-neuron-selection .wrapper div p {
  color: black;
  font-size: 1.1rem;
}
html body .quantum-neuron-selection .wrapper div .read-more {
  display: inline-block;
  margin: 1rem 0;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
html body .interpretable-diversity-analysis {
  background: #0f0f0f;
  padding: 10rem 0;
  background-image: url(/static/jewel-stone-diamond.svg);
  background-size: 45vw;
  background-repeat: no-repeat;
  background-position: center right;
}
html body .interpretable-diversity-analysis .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}
html body .interpretable-diversity-analysis .wrapper div {
  grid-column: 1;
}
html body .interpretable-diversity-analysis .wrapper div h1 {
  font-family: Helvetica;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.1rem;
  margin-bottom: 1rem;
  color: white;
}
html body .interpretable-diversity-analysis .wrapper div p {
  color: white;
  font-size: 1.1rem;
}
html body .interpretable-diversity-analysis .wrapper div .read-more {
  display: inline-block;
  margin: 1rem 0;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
html body .prune-and-tune-ensembles {
  background: white;
  padding: 10rem 0;
  background-image: url(/static/cell-nucleus.svg);
  background-size: 45vw;
  background-repeat: no-repeat;
  background-position: center left;
}
html body .prune-and-tune-ensembles .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}
html body .prune-and-tune-ensembles .wrapper div {
  grid-column: 2;
}
html body .prune-and-tune-ensembles .wrapper div h1 {
  font-family: Helvetica;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.1rem;
  margin-bottom: 1rem;
  color: black;
}
html body .prune-and-tune-ensembles .wrapper div p {
  color: black;
  font-size: 1.1rem;
}
html body .prune-and-tune-ensembles .wrapper div .read-more {
  display: inline-block;
  margin: 1rem 0;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
html body .contact {
  padding: 2rem 0;
  background: white;
}
html body .contact .wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
html body .contact .wrapper h2 {
  grid-row: 1;
  margin-bottom: 1rem;
}
html body .contact .wrapper .form-container {
  display: flex;
  flex-direction: column;
  grid-row: 2;
}
html body .contact .wrapper .form-container input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
  background: white;
}
html body .contact .wrapper .form-container textarea {
  flex: 1;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
  background: white;
}
html body .contact .wrapper .form-container .button {
  background: #1976d2;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 3px;
  max-width: max-content;
  display: block;
}
html body .contact .wrapper .map-container {
  grid-row: 2;
}
html body .contact .wrapper .map-container #map {
  height: 20rem;
}
html body .contact .wrapper .map-container p {
  display: block;
}
html body footer {
  background: #0f0f0f;
  padding: 2rem 0;
}
html body footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}
html body footer .wrapper .column h2 {
  color: white;
  font-family: Helvetica;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
html body footer .wrapper .column a {
  display: block;
  width: max-content;
  margin-bottom: 1rem;
  color: #aaa;
  font-family: Helvetica;
  font-size: 0.8rem;
}

.wrapper {
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}