@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-regular.woff2") format("woff2"),
    url("./LM-regular.woff") format("woff"),
    url("./LM-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-italic.woff2") format("woff2"),
    url("./LM-italic.woff") format("woff"),
    url("./LM-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold.woff2") format("woff2"),
    url("./LM-bold.woff") format("woff"),
    url("./LM-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold-italic.woff2") format("woff2"),
    url("./LM-bold-italic.woff") format("woff"),
    url("./LM-bold-italic.ttf") format("truetype");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: color 0.2s ease;
}

html {
  font-family: "Latin Modern", Garamond;

  body {
    color: black;
    background: #f7f7f7;

    .home {
      header {
        width: 100%;
        background: white;
        margin: 0;
        padding: 0;

        .wrapper {
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;

          .logo {
            color: black;
            font-size: 0;

            img {
              height: 100%;
              max-width: 160px;
            }
          }

          nav {
            a {
              color: black;
              text-decoration: none;
              font-weight: bold;
              font-family: Helvetica;
              margin-left: 2rem;
              text-transform: uppercase;
              font-size: 0.8rem;

              &:hover {
                color: #1976d2;
              }
            }
          }
        }
      }
    }
    .hero {
      width: 100%;
      background: url(/static/mountain-bg.png);
      background-size: cover;
      background-color: white;
      background-position: right 70%;
      background-repeat: no-repeat;
      position: relative;
      height: 80vh;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: black;
        opacity: 0.5;
      }

      .wrapper {
        position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          font-family: Helvetica;
          font-size: 4rem;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: -0.1rem;
          margin-bottom: 1rem;
          color: white;
          max-width: 38rem;
        }

        p {
          color: white;
          font-size: 1.1rem;
          font-style: italic;
          margin-bottom: 2rem;
          max-width: 38rem;
        }
      }
    }

    .hero3 {
      width: 100%;
      background: url(/static/chess-bg.png);
      background-size: cover;
      background-color: white;
      background-position: top;
      background-repeat: no-repeat;
      position: relative;
      height: 80vh;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: black;
        opacity: 0.5;
      }

      .wrapper {
        position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          font-family: Helvetica;
          font-size: 4rem;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: -0.1rem;
          margin-bottom: 1rem;
          color: white;
          max-width: 50rem;
        }

        p {
          color: white;
          font-size: 1.1rem;
          font-style: italic;
          margin-bottom: 2rem;
          max-width: 50rem;
        }
      }
    }

    .intro {
      display: flex;
      align-items: center;

      .content {
        flex: 0 0 50%;
      }
      .image {
        flex: 0 0 50%;
      }
    }

    .personal {
      display: flex;
      align-items: center;

      .content {
        flex: 0 0 50%;
        .wrapper {
          max-width: 60%;

          p {
            margin-bottom: 1rem;
          }
        }
      }
      .image {
        flex: 0 0 50%;
        img {
          display: block;
        }
      }
    }

    .professional {
      .education {
        .item {
          padding: 1rem 0;
          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
              font-size: 1rem;
            }
            span {
              font-weight: bold;
            }
          }
        }
      }
    }

    .gallery {
      background: black;
      padding: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(9, 5vw);
      grid-gap: 1rem;

      .item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 4;
        }
        &:nth-child(2) {
          grid-column-start: 5;
          grid-column-end: 9;
          grid-row-start: 1;
          grid-row-end: 7;
        }
        &:nth-child(3) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 10;
        }
        &:nth-child(4) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 4;
          grid-row-end: 7;
        }
        &:nth-child(5) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 7;
          grid-row-end: 10;
        }
        &:nth-child(6) {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 7;
          grid-row-end: 10;
        }
        &:nth-child(7) {
          grid-column-start: 7;
          grid-column-end: 9;
          grid-row-start: 7;
          grid-row-end: 10;
        }
      }
    }

    footer {
      background: white;
      padding: 2rem 0;

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;

        .column {
          h2 {
            color: black;
            font-family: Helvetica;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 0.8rem;
          }
          a {
            display: block;
            width: max-content;
            margin-bottom: 1rem;
            color: black;
            font-family: Helvetica;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.wrapper {
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
