html {
  body {
    .hero {
      background-image: url(/static/mystic-gate-bg.png);
    }
    .feed {
      .post {
        background: white;
        padding: 5rem 0;

        .read-more {
          display: inline-block;
          margin: 1rem 0;
          color: black;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 0.8rem;
        }

        &:not(:first-child) {
          border-top: 1px solid #f7f7f7;
        }
      }
    }
  }
}
