@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-regular.woff2") format("woff2"),
    url("./LM-regular.woff") format("woff"),
    url("./LM-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./LM-italic.woff2") format("woff2"),
    url("./LM-italic.woff") format("woff"),
    url("./LM-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold.woff2") format("woff2"),
    url("./LM-bold.woff") format("woff"),
    url("./LM-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("./LM-bold-italic.woff2") format("woff2"),
    url("./LM-bold-italic.woff") format("woff"),
    url("./LM-bold-italic.ttf") format("truetype");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: color 0.2s ease;
}

html {
  font-family: "Latin Modern", Garamond;

  body {
    color: black;
    background: #f7f7f7;

    .home {
      header {
        width: 100%;
        background: white;
        margin: 0;

        .wrapper {
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;

          .logo {
            color: black;
            font-size: 0;

            img {
              height: 100%;
            }
          }

          nav {
            a {
              color: black;
              text-decoration: none;
              font-weight: bold;
              font-family: Helvetica;
              margin-left: 2rem;
              text-transform: uppercase;
              font-size: 0.8rem;

              &:hover {
                color: #1976d2;
              }
            }
          }
        }
      }
    }
    .hero {
      width: 100%;
      background: url(/static/carina.jpg);
      background-size: cover;
      position: relative;
      padding: 8rem 0;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .wrapper {
        position: relative;
        z-index: 1;
        h1 {
          font-family: Helvetica;
          font-size: 4rem;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: -0.1rem;
          margin-bottom: 1rem;
          max-width: 35rem;
          color: white;
        }

        p {
          color: white;
          font-size: 1.1rem;
          font-style: italic;
          max-width: 35rem;
          margin-bottom: 2rem;
        }
        .button-group {
          margin-top: 1rem;
          display: flex;

          .button {
            background: #1976d2;
            color: white;
            padding: 0.5rem 1rem;
            outline: none;
            margin-right: 1rem;
            font-family: Helvetica;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8rem;
            display: block;
            text-decoration: none;
            border-radius: 3px;

            &:nth-child(2) {
              background: white;
              color: black;
            }
          }
        }
      }
    }

    .projects {
      background: white;
      padding: 1rem 0;
      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        .project {
          img {
          }
        }
      }
    }

    .bar {
      background: white;
      padding: 0.5rem 0;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .introduction {
      background: white;
      padding: 0.5rem 0;

      .container {
        width: 100vw;
        height: 85px;
        overflow: hidden;
        position: relative;

        .slideshow {
          position: absolute;
          width: 300vw;
          height: 85px;
          display: flex;
          align-items: center;
          // animation: slide 120s linear infinite;

          .frame {
            flex: 0 0 100vw;
            height: 115px;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;

            div {
              flex: 0 0 auto;

              img {
                width: 75%;
              }
            }
          }
        }
      }
    }

    .showcase {
      background: white;
      padding: 4rem 0;
      .wrapper {
        blockquote {
          font-size: 1.6rem;
          font-weight: bold;
          font-style: italic;
          color: #666;
          text-align: center;
          padding-bottom: 2rem;
        }

        .video-wrapper {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .contributions {
      padding: 2rem 0 4rem 0;
      background: #f7f7f7;

      .message {
        text-align: center;
        padding-bottom: 2rem;
      }

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;

        .column {
          background: white;
          border-radius: 0.5rem;
          overflow: hidden;

          img {
            width: 100%;
            display: block;
          }

          .content {
            padding: 1rem;
            h3 {
              text-align: center;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }

    .the-problem {
      background: #f7f7f7;
      padding: 10rem 0;
      background-image: url(/static/brain.svg);
      background-size: 45vw;
      background-repeat: no-repeat;
      background-position: center right;

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;

        div {
          grid-column: 1;
          h1 {
            font-family: Helvetica;
            font-size: 3rem;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: -0.1rem;
            margin-bottom: 1rem;
            color: black;
          }
          p {
            color: black;
            font-size: 1.1rem;
          }
        }
      }
    }

    .the-idea {
      background: #0f0f0f;
      padding: 10rem 0;
      background-image: url(/static/earth-dark.svg);
      background-size: 45vw;
      background-repeat: no-repeat;
      background-position: center left;

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;

        div {
          grid-column: 2;
          h1 {
            font-family: Helvetica;
            font-size: 3rem;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: -0.1rem;
            margin-bottom: 1rem;
            color: white;
          }
          p {
            color: white;
            font-size: 1.1rem;
          }
        }
      }
    }

    .contact {
      padding: 2rem 0;
      background: white;

      .wrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;

        h2 {
          grid-row: 1;
          margin-bottom: 1rem;
        }
        .form-container {
          display: flex;
          flex-direction: column;
          grid-row: 2;

          input {
            display: block;
            margin-bottom: 1rem;
            padding: 0.5rem;
            outline: none;
            border: 1px solid #ccc;
            background: white;
          }
          textarea {
            flex: 1;
            display: block;
            margin-bottom: 1rem;
            padding: 0.5rem;
            outline: none;
            border: 1px solid #ccc;
            background: white;
          }
          .button {
            background: #1976d2;
            color: white;
            padding: 0.5rem 1rem;
            outline: none;
            font-family: Helvetica;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8rem;
            text-decoration: none;
            border-radius: 3px;
            max-width: max-content;
            display: block;
          }
        }
        .map-container {
          grid-row: 2;
          #map {
            height: 20rem;
          }
          p {
            display: block;
          }
        }
      }
    }

    footer {
      background: #0f0f0f;
      padding: 2rem 0;

      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;

        .column {
          h2 {
            color: white;
            font-family: Helvetica;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 0.8rem;
          }
          a {
            display: block;
            width: max-content;
            margin-bottom: 1rem;
            color: #aaa;
            font-family: Helvetica;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.wrapper {
  padding: 1rem;
  max-width: 65rem;
  margin: 0 auto;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
