html {

  body {
    .hero {
      background-image: url(/static/brain-bg.png);
      background-position: top center;
    }
    .merch {
      background: white;
      padding: 4.8rem 0;
      .wrapper {
        h1 {
          font-family: "Open Sans";
          font-size:5rem;
          text-transform:uppercase;
          text-align:center;
          padding-bottom:5rem;
          color:black;
          text-shadow:5px 5px 0px #ddd;
        }
        .column-wrapper {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          padding: 1.6rem;
          flex-wrap:wrap;

          @media screen and (max-width:600px) {
            padding:1.6rem 0;
          }

          .column {
            flex: 0 0 30%;
            text-align: center;

            .icon {
              margin: 0 auto;
              height: 15rem;
              width: 15rem;

              img {
                width: 100%;
                height: 100%;
              }
            }
            @media screen and (max-width:600px) {
              flex:0 0 100%;
            }
          }
        }
      }
    }

    .featured-paper {
      padding:16rem 0;
      background-size: 45vw;
      background-repeat: no-repeat;

      @media screen and (max-width:600px) {
        padding:2rem 0;
        background-size:250vw;
      }
      
      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3.2rem;
        align-items: center;

        @media screen and (max-width:600px) {
          grid-template-columns: 1fr;
        }

        h1 {
          font-family: "Open Sans";
          font-size: 4.8rem;
          text-transform: uppercase;
          line-height: 1.2;
          margin-bottom: 1.6rem;
          color: black;

          @media screen and (max-width:600px) {
            font-size:3.8rem;
          }
        }
        p {
          color: black;
          font-size: 1.8rem;

          @media screen and (max-width:600px) {
            font-size:1.6rem;
          }
        }
        .read-more {
          display: inline-block;
          margin: 1rem 0;
          color: black;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1.2rem;
        }
      }

      &:nth-child(even) {
        background-color:white;
        background-position: center left;
        .wrapper div {
          grid-column:2;

          h1, p, a {
            color:black;
          }
        }
      }
      &:nth-child(odd) {
        background-color:#0f0f0f;
        background-position: center right;
        .wrapper div {
          grid-column:1;

          h1, p, a, small {
            color:white;
          }
        }
      }
      @media screen and (max-width:600px) {
        background-size:0;
      }
    }

    .notebooks {
      display:grid;
      grid-template-rows: auto auto;
      grid-template-columns: 2fr 1fr;
      grid-gap:2rem;
      padding:2rem 0 5rem 0;
      
      .filters {
        grid-row:1;
        grid-column:1 / span 2;
        border-bottom: 1px solid #ddd;
        h1 {
          padding:1rem 0;
        }
        .categories {
          padding-bottom:2rem;
          a {
            font-family:"Open Sans";
            font-size:1.3rem;
            text-transform:uppercase;
            text-decoration: none;
            margin-right:2rem;
            color:#aaa;

            &.active, &:hover {
              color: red;
            }
          }
          @media screen and (max-width:600px) {
            display:none;
          }
        }
        .mobile-categories {
          display:none;
          padding-bottom:2rem;

          @media screen and (max-width:600px) {
            display:block;
          } 
        }
        @media screen and (max-width:600px) {
          grid-column:auto;
        }
      }
      .primary-col {
        grid-row:2;
        border-right:1px solid #ddd;

        .post {
          background: white;
          padding: 2rem 0;
          margin-right:2rem;
          h1 {
            font-family:"Open Sans";
            font-size:2.4rem;
          }
          p {
            font-size:1.6rem;
          }
          &:not(:first-child) {
            border-top: 1px solid #ddd;
          }
        }

        @media screen and (max-width:600px) {
          grid-row:auto;
          border-right:none;
        }
      }
      .secondary-col {
        grid-row:2;
        .post {
          background: white;
          padding: 2rem;
          h1 {
            font-family:"Open Sans";
            font-size:1.6rem;
          }
          p {
            font-size:1.2rem;
          }
          &:not(:first-child) {
            border-top: 1px solid #ddd;
          }
        }
        
        @media screen and (max-width:600px) {
          display:none;
        }
      }
      @media screen and (max-width:600px) {
        padding-left:1rem;
        padding-right:1rem;
        grid-template-columns: 1fr;
      }
    }

    .subnetwork-ensembles {
      background-image: url(/static/tree2.svg);
    }

    .contact {
      padding: 8rem 0;
      background: white;
      
      @media screen and (max-width:600px) {
        padding:0rem;
      }
      
      .wrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3.2rem;

        @media screen and (max-width:600px) {
          grid-template-rows: auto auto auto;
          grid-template-columns: 1fr;
          grid-column-gap: 0rem;
          grid-row-gap: 3.2rem;
        }

        h1 {
          grid-row: 1;
          font-size: 3.2rem;
          margin-bottom: 1.6rem;
          @media screen and (max-width:600px) {
            margin-bottom: -1.6rem;
          }
        }
        .form-container {
          grid-row: 2;
          display:flex;

          form {
            display: flex;
            flex-direction: column;
            flex:1;
            
            input {
              display: block;
              margin-bottom: 1.6rem;
              padding: 0.8rem;
              outline: none;
              border: 1px solid #ccc;
              background: white;
            }
            textarea {
              flex: 1;
              display: block;
              padding: 0.8rem;
              outline: none;
              border: 1px solid #ccc;
              background: white;
            }
            button {
              background: #1976d2;
              color: white;
              padding: 0.8rem 1.6rem;
              outline: none;
              border:none;
              cursor:pointer;
              font-family: "Open Sans";
              font-weight: bold;
              text-transform: uppercase;
              font-size: 1.2rem;
              text-decoration: none;
              border-radius: 3px;
              max-width: max-content;
              display: block;
              margin-top:1.6rem;
            }  
          }
        }
        .map-container {
          grid-row: 2;
          #map {
            height: 32rem;
          }
          @media screen and (max-width:600px) {
            grid-row: 3;
          }
        }
      }
    }
  }
}