html {
  body {
    .hero {
      background-image: url(/static/chess-bg.png);
      background-position: top center;
    }

    .catalog {
      background:white;
      .wrapper {
        .item {
          background: white;
          padding: 5rem 0;
  
          &:not(:first-child) {
            border-top: 1px solid #f7f7f7;
          }
        }
      }
    }
  }
}
