html {
  body {
    .hero {
      background-image: url(/static/cave-bg.png);
    }
    .feed {
      .filters {
        border-bottom: 1px solid #ddd;
        .categories {
          padding:1rem 0 2rem 0;
          a {
            font-family:"Open Sans";
            font-size:1.3rem;
            text-transform:uppercase;
            text-decoration: none;
            margin-right:2rem;
            color:#aaa;

            &.active, &:hover {
              color: red;
            }
          }
          @media screen and (max-width:600px) {
            display:none;
          }
        }
      }
      .post {
        background: white;
        padding: 5rem 0;

        h1 {
          @media screen and (max-width:600px) {
            font-size:2.4rem;
          }
        }

        .read-more {
          display: inline-block;
          margin: 1rem 0;
          color: black;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 0.8rem;
        }

        &:not(:first-child) {
          border-top: 1px solid #f7f7f7;
        }
      }
    }
  }
}
