
html {

  body {
    
    .hero {
      background-image: url(/static/mountain-bg.png);
    }
    
    .paper {
      padding:16rem 0;
      background-size: 45vw;
      background-repeat: no-repeat;

      @media screen and (max-width:600px) {
        padding:8rem 0;
        background-size:250vw;
      }
      
      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3.2rem;
        align-items: center;

        @media screen and (max-width:600px) {
          grid-template-columns: 1fr;
        }

        h1 {
          // font-family: "Open Sans";
          // font-size: 4.8rem;
          // text-transform: uppercase;
          line-height: 1.2;
          // letter-spacing: -0.1rem;
          margin-bottom: 1.6rem;
          color: black;
        }
        p, small {
          color: black;
        }
        .read-more {
          display: inline-block;
          margin: 1rem 0;
          color: black;
          font-family: "Open Sans";
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 1.2rem;
        }
      }

      &:nth-child(even) {
        background-color:white;
        background-position: center left;
        .wrapper div {
          grid-column:2;

          h1, p, a {
            color:black;
          }
        }
      }
      &:nth-child(odd) {
        background-color:#0f0f0f;
        background-position: center right;
        .wrapper div {
          grid-column:1;

          h1, p, a, small {
            color:white;
          }
        }
      }
    }


    .prune-and-tune-ensembles {
      background-image: url(/static/cell-nucleus.svg);
    }
    .interpretable-diversity-analysis {
      background-image: url(/static/dna-helix-3.svg);
    }
    .sparse-mutation-decomposition {
      background-image: url(/static/brain.svg);
    }
    .synaptic-stripping {
      background-image: url(/static/jewel-stone-diamond.svg);
    }
    .stochastic-masking {
      background-image: url(/static/h2o-water-molecule.svg);
    }
    .low-cost-ensembles {
      background-image: url(/static/h2o-water-molecule.svg);
    }
    .quantum-neuron-selection {
      background-image: url(/static/freezer-ice.svg);
    }

    footer {
      background: white;
  
      .wrapper {
        .column {
          h2, a {
            color: black;
          }
        }
      }
    }
  
  }
}