@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("./LM-regular.woff2") format("woff2"),
    url("./LM-regular.woff") format("woff"),
    url("./LM-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: normal;
  font-display: block;
  src: url("./LM-italic.woff2") format("woff2"),
    url("./LM-italic.woff") format("woff"),
    url("./LM-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: normal;
  font-weight: bold;
  font-display: block;
  src: url("./LM-bold.woff2") format("woff2"),
    url("./LM-bold.woff") format("woff"),
    url("./LM-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Latin Modern";
  font-style: italic;
  font-weight: bold;
  font-display: block;
  src: url("./LM-bold-italic.woff2") format("woff2"),
    url("./LM-bold-italic.woff") format("woff"),
    url("./LM-bold-italic.ttf") format("truetype");
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: color 0.2s ease;
}

p {
  font-family: "Latin Modern", Garamond;
  margin-bottom:1.6rem;
}

html {
  font-size:62.5%;
  font-family: "Latin Modern", Garamond;

  body {
    font-size:1.6rem;

    header {
      width: 100%;
      background: white;
      margin: 0;
      padding: 0;

      .wrapper {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-between;
        padding:1rem;

        .logo {
          color: black;
          font-size: 0;
          padding: 1rem 0;

          img {
            height: auto;
            max-width: 11rem;

            @media screen and (max-width:600px) {
              max-width:8rem;
            }
          }
        }

        nav {
          a {
            color: black;
            text-decoration: none;
            font-weight: 500;
            font-family: "Open Sans";
            margin-left: 3.2rem;
            text-transform: uppercase;
            font-size: 1.2rem;

            @media screen and (max-width: 600px) {
              margin-left:1.5rem;
              font-size:0.9rem;
            }

            &.active, &:hover {
              color: #1976d2;
            }
          }
        }
      }
    }
    .hero {
      width: 100%;
      background-size: cover;
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 80vh;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: black;
        opacity: 0.5;
      }

      .wrapper {
        position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        h1 {
          font-family: "Open Sans";
          font-size: 6.4rem;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: -0.1rem;
          margin-bottom: 1rem;
          color: white;
          text-shadow:5px 5px 0px rgba(0,0,0,1);

          @media screen and (max-width: 600px) {
            font-size: 3.8rem;
          }
        }

        p {
          color: white;
          font-size:1.6rem;
          font-style: italic;
          max-width: 600px;
          margin-bottom: 2rem;

          @media screen and (max-width: 600px) {
            display:none;
          }
        }
      }

      @media screen and (max-width: 600px) {
        height:35vh;
      }
    }
    .reference {
      background: #eeeeee;
      padding: 1rem;
      p {
        text-align: center;
        margin: 0;
      }
    }
    footer {
      background: #0f0f0f;
      padding: 3.2rem 0;

      .wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 5rem;
        justify-content: space-around;

        .column {
          h2 {
            color: white;
            font-family: "Open Sans";
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }
          a {
            display: block;
            width: max-content;
            margin-bottom: 1rem;
            color: #aaa;
            font-family: "Open Sans";
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.wrapper {
  padding: 1rem;
  max-width: 120rem;
  margin: 0 auto;

  @media screen and (max-width:600px) {
    padding:2rem;
  }
}